<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vlad.deeplinks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DeepLinkActivity"
            android:label="DeepLinkActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="HeyClay">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "www.heyclay.com/ua” -->
                <data
                    android:host="www.heyclay.com"
                    android:pathPrefix="/ua"
                    android:scheme="http" />

                <data
                    android:scheme="http"
                    android:host="www.hey-clay.com"
                    android:pathPrefix="/us" />

                <data
                    android:scheme="http"
                    android:host="www.hey-clay.com"
                    android:pathPrefix="/hcr" />

                <data
                    android:scheme="http"
                    android:host="hey-clay.com"
                    android:pathPrefix="/hcr" />

                <data
                    android:scheme="https"
                    android:host="hey-clay.com"
                    android:pathPrefix="/hcr" />

                <data
                    android:scheme="http"
                    android:host="www.hey-clay.com/hcr" />

                <data
                    android:scheme="custom-scheme"
                    android:host="custom-host" />

                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>